.site-header{
    background-color: rgba(73, 11, 132, 0.694);
    color: rgb(220, 190, 248);
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.site-header-content{
    margin: 10px;
}
.course-link{
    color: rgb(220, 190, 248);
    text-decoration: none; 

}
.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #dcbef8 2px 5px 5px;
}
body{
    margin: 0;
}